DataExtraction/dataset/*
!DataExtraction/dataset/.gitkeep

DataExtraction/datasetFeatures/*
!DataExtraction/datasetFeatures/.gitkeep

DataExtraction/dataset2/*
!DataExtraction/dataset2/.gitkeep

DataExtraction/7sectors.tar.gz
DataExtraction/content.rdf.u8
DataExtraction/catAndUrlChosen.txt
DataExtraction/catAndUrl.txt

