DataExtraction/dataset/*
!DataExtraction/dataset/.gitkeep

DataExtraction/htmlExtraction/.scrapy
DataExtraction/htmlExtraction/ghostdriver.log


DataExtraction/datasetFeatures/*
!DataExtraction/datasetFeatures/.gitkeep

DataExtraction/dataset2/*
!DataExtraction/dataset2/.gitkeep

DataExtraction/7sectors.tar.gz
DataExtraction/content.rdf.u8
DataExtraction/catAndUrlChosen.txt
DataExtraction/catAndUrl.txt

ModelTraining/datasetFeatures/*
ModelTraining/tokenizedDataset/*

ModelTraining/glove.840B.300d.txt
ModelTraining/gloveDataset/*
ModelTraining/normalizedgloveDataset/*
ModelTraining/normalizedbyvecgloveDataset/*
ModelTraining/unitizedgloveDataset/*


ModelTraining/GoogleNews-vectors-negative300.bin
ModelTraining/word2vecDataset/*
ModelTraining/normalizedword2vecDataset/*
ModelTraining/normalizedbyvecword2vecDataset/*
ModelTraining/unitizedword2vecDataset/*


ModelTraining/lexVec58Bvectors300.txt
ModelTraining/lexvecDataset/*
ModelTraining/normalizedlexvecDataset/*
ModelTraining/normalizedbyveclexvecDataset/*
ModelTraining/unitizedlexvecDataset/*

ModelTraining/models/*
